.cards {
  list-style: none;
  padding: 5px;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  width: 620px;
  margin: auto;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 150px;
  border-radius: 8px;
}

.card__btn {
  all: unset;
  background-color: rgba(255, 255, 255, 0.4);
  color: #2a2d34;
  padding: 0px 4px 2px 4px;
  font-size: 0.7rem;
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.card__input,
.card__name {
  all: unset;
  background-color: rgba(255, 255, 255, 0.4);
  color: #2a2d34;
  text-align: center;
  padding: 4px 10px;
  margin: 4px;
  width: 50%;
  border: 1px solid rgba(169, 169, 169, 0.3);
  border-radius: 4px;
  transition: transform 0.1s ease-out;
}

.card__name {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 0.8rem;
}

.card__input:focus {
  background-color: #f8fff4;
  color: #000;
  transform: scale(0.95);
  border: 2px solid #069e2d;
}
