.form {
  height: 6.625rem;
  border: 2px solid #00afb9;
  border-radius: 8px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form__input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__tooltip {
  visibility: hidden;
  background-color: #00afb9;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 4px;
  font-size: 0.6rem;
  position: absolute;
  top: -12.5px;
  left: -30px;
  z-index: 10;
  width: 50px;
}

.form__input-container:hover .form__tooltip {
  visibility: visible;
}

.form__input {
  width: 80px;
}

.form__input:hover {
  border: 1.5px solid #00afb9;
  border-radius: 4px;
}

.form__text {
  all: unset;
  background-color: rgba(255, 255, 255, 0.4);
  color: #4f5d75;
  text-align: center;
  padding: 4px 10px;
  width: 50%;
  border: 1px solid rgba(169, 169, 169, 0.3);
  border-radius: 4px;
  transition: transform 0.1s ease-out;
  font-size: 0.7rem;
}

.form__text:focus {
  background-color: #f8fff4;
  color: #000;
  transform: scale(0.95);
  border: 2px solid #069e2d;
}

.form__btn {
  all: unset;
  background-color: #00afb9;
  color: #f8fff4;
  padding: 0 6px 3px 6px;
  border: 0.5px solid #f8fff4;
  border-radius: 50%;
}
