.form {
  /* width: 150px; */
  height: 150px;
  border: 2px solid black;
  border-radius: 8px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form__input {
  width: 50%;
}

.form__text {
  all: unset;
  background-color: rgba(255, 255, 255, 0.4);
  color: #2a2d34;
  text-align: center;
  padding: 4px 10px;
  width: 50%;
  border: 1px solid rgba(169, 169, 169, 0.3);
  border-radius: 4px;
  transition: transform 0.1s ease-out;
}

.form__text:focus {
  background-color: #f8fff4;
  color: #000;
  transform: scale(0.95);
  border: 2px solid #069e2d;
}

.form__btn {
  all: unset;
  background-color: #2b9bdc;
  color: #f8fff4;
  padding: 0 6px 3px 6px;
  border-radius: 50%;
}
