@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");

@import "./components/colorCard/ColorCard.css";
@import "./components/form/Form.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 50px;
}

.title {
  text-align: center;
  font-family: "Coiny", cursive;
  font-size: 2.5rem;
  margin: 0;
  background: linear-gradient(to right, #1032e0, #40ff1a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.colors {
  /* background-color: aqua; */
  padding: 5px;
  position: relative;
  text-align: center;
}

/* .colors__form {
} */

.colors__title {
  all: unset;
  caret-color: #ef5b5b;
  font-size: larger;
  font-weight: bold;
}

.colors__btn {
  all: unset;
  position: absolute;
  top: 5px;
  color: #2a2d34;
  font-size: 0.6rem;
}

.colors__btn:hover {
  color: #2b9bdc;
  text-decoration: underline;
}
